<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<body>
<div id="page" layout:fragment="content">
	<div class="card">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Online Mart</h5>
			<p class="card-text">We support all kinds of grocery items. You can easily get all the necessary stuffs.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
	<script>
        $( document ).ready(function() {
         //   alert("test");
        });
    </script>

</div>
</body>
</html>